div#set-viewer {
	border: 2px solid black;
	margin: 1px;
	padding: 5px;
	width: 80%;
	height: 80%;
	overflow: scroll;
}

div.selector {
	border: 1px solid black;
	background-color: rgba(0,0,0,0.1);
}

body {
	height: 100vh;
}
